<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" routerLink="#">Directives</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/late-comers">LateComers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/products">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/Images">Images</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/parent-child">parent/child</a>
    </li>
  </ul>

  <div appColor>

  </div>